<footer class="footer fixed-bottom bg-light">
    <nav class="nav fixed-bottom bg-light">
    <div class="footer-content mx-auto ">
        Made with ❤ by <a href="https://github.com/m0rp43us" > M0rp43us</a>
        Buy me a <a href="https://ko-fi.com/wail96">☕</a>
    </div>
    </footer></nav>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js" integrity="sha512-nO7wgHUoWPYGCNriyGzcFwPSF+bPDOR+NvtOYy2wMcWkrnCNPKBcFEkU80XIN14UVja0Gdnff9EmydyLlOL7mQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
<script>
    // dark mode toggler
    function toggle() {
        halfmoon.toggleDarkMode();
    }
</script>
</body>
</html>