<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.3/datatables.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar bg-danger">
    <div class="container-lg">
        <a>
            <img src="pngtube.png" height="40" alt="YouTube Playlist Length" >
        </a>
        <span class="navbar-text text-monospace">
            <span class="badge badge-danger text-light"> v1.0</span>
        </span>
        <button class="btn btn-danger btn-lg btn-square ml-auto" type="button" onclick="toggle()">
            <i class="fa fa-moon" aria-hidden="true"></i>
            <span class="sr-only">Toggle dark mode</span>
        </button>
        <a href="https://github.com/m0rp43us/youtube_plst">
            <button class="btn btn-danger btn-lg  ml-auto">
                <i class="fab fa-github" aria-hidden="true"></i>
                <span class="sr-only"></span>
            </button>
        </a>
    </div>
    </nav>